.tp-draft/

PROJET_Orchestration_automatisee_globale.docx 1.pdf

.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
terraform.tfvars
*.auto.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# macOS
.DS_Store
